#main {
    text-align: center;
    background: rgb(220, 220, 220);
}

#img-div {
    background-color: white;
}

#tribute-info {
    padding: 0 150px 0 150px;
}

p {
    font-size: 15px;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    justify-content: center;
}

#img-caption {
    padding: 15px;
    font-size: 13px;
}

#headline {

}