#main {
    text-align: center;
    background: rgb(220, 220, 220);
}

#img-div {
    background-color: white;
}

#tribute-info {
    padding: 0 150px 0 150px;
}

p {
    font-size: 15px;
}

#img-caption {
    padding: 15px;
    font-size: 13px;
}

#headline {

}